/*! Primitive CSS Framework Author: Tania Rascia */
/* default dark theme */
:root {
  --background: #202020;
  --background-darker: #181818;
  --background-lighter: #303030;
  --font-color: #e0e0e0;
  --medium-color: #a0a0a0;
  --contrast-color: #bebebe;
  --highlight: #303030;
  --border-color: #666666;
  --border-color-darker: #4d4d4d;
  --grid-primary: #666666;
  --grid-secondary: #404040;
  --grid-tertiary: #262626;
  --primary-color: hsl(44, 97%, 84%);
  --accent-color: hsl(0, 0%, 20%);
  --accent-color-lighter: hsl(0, 0%, 30%);
  --accent-color-mid: hsl(0, 0%, 50%);
  --button-background: #404040;
  --button-background-hover: hsl(0, 0%, 35%);
  --button-color: #e0e0e0;
  --button-highlight-color: #666666;
  --button-border-color: #666666;
  --button-border-hover-color: #777777;
  --red: #F2777A;
  --green: #92D192;
  --blue: #6AB0F3; }

/* toggle light theme */
:root.light-theme {
  --background: #ffffff;
  --background-darker: hsl(0, 0%, 95%);
  --background-lighter: hsl(0, 0%, 95%);
  --foreground: #d0d0d0;
  --font-color: #404040;
  --medium-color: #808080;
  --contrast-color: #404040;
  --highlight: #f0f0f0;
  --border-color: hsl(0, 0%, 80%);
  --border-color-darker: hsl(0, 0%, 90%);
  --grid-primary: #a0a0a0;
  --grid-secondary: #d0d0d0;
  --grid-tertiary: #f0f0f0;
  --primary-color: #485bfc;
  --primary-dark-10: $primary-light-10;
  --primary-dark-15: $primary-light-15;
  --main: #404040;
  --button-background: #f8f8f8;
  --button-background-hover: hsl(0, 0%, 90%);
  --button-color: #404040;
  --button-highlight-color: #404040;
  --button-border-color: #a0a0a0;
  --button-border-hover-color: #777777;
  --color-primary: #485bfc;
  --color-secondary: #4bb77e;
  --tertiary: #c74440;
  --red: #c74440;
  --green: #4bb77e;
  --blue: #485bfc; }

/* layout variables */
/* Containers */
/* 720 max width + margin */
/* Breakpoints */
/* Colors */
/* Typography */
/* Padding */
/* Borders */
/* Buttons */
/* Forms */
/* Tables */
/* Code */
/* Mixins
  =============== */
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0; }

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button; }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type='checkbox'],
[type='radio'] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type='search']::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none; }

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none; }

html {
  box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: inherit; }

figure {
  margin: 0; }

/* Scaffolding
  =============== */
html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font: normal normal normal 1rem/1.6 -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1rem; }

body {
  color: var(--font-color);
  background: var(--background);
  font-size: 1rem; }

p,
ol,
ul,
dl,
table,
figure {
  margin: 0 0 1.5rem 0; }

ul li ul {
  margin-bottom: 0; }

ol li ol {
  margin-bottom: 0; }

h1,
h2,
h3,
h4,
h5 {
  margin: 1.5rem 0;
  font-weight: 600;
  font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica, Arial, sans-serif;
  line-height: 1.2;
  color: var(--font-color); }
  h1:not(:first-child),
  h2:not(:first-child),
  h3:not(:first-child),
  h4:not(:first-child),
  h5:not(:first-child) {
    margin: 1.5rem 0; }

h1:not(:first-child),
h2:not(:first-child),
h3:not(:first-child) {
  margin-top: 2rem; }

h1 {
  font-size: 1.75rem; }

h2 {
  font-size: 1.5rem; }

h3 {
  font-size: 1.25rem; }

h4 {
  font-size: 1.1rem; }

h5 {
  font-size: 1rem; }

@media (min-width: 608px) {
  h1:not(:first-child),
  h2:not(:first-child),
  h3:not(:first-child) {
    margin-top: 2.5rem; }
  h1 {
    font-size: 2rem; }
  h2 {
    font-size: 1.75rem; }
  h3 {
    font-size: 1.5rem; }
  h4 {
    font-size: 1.25rem; }
  h5 {
    font-size: 1rem; } }

a.draft {
  color: var(--font-color); }

a {
  color: var(--primary-color);
  text-decoration: none; }
  a:hover, a:active, a:focus {
    color: var(--primary-dark-15);
    text-decoration: underline; }

mark {
  background: #f0f0f0;
  padding: 0 0.2rem; }

blockquote {
  margin: 0 0 1.5rem 0;
  border-left: 16px solid #f0f0f0;
  padding: 0 1.5rem;
  font-size: 1.5rem; }
  blockquote cite {
    display: block;
    margin-top: 1.5rem;
    font-size: 1rem;
    text-align: right; }

pre {
  border: 0;
  border-radius: 4px;
  background: transparent;
  padding: 1rem;
  tab-size: 2;
  color: var(--font-color);
  font-family: Menlo, monospace;
  font-size: 14px;
  margin: 0 0 1.5rem 0; }
  pre code {
    font-family: Menlo, monospace;
    line-height: 1.2; }

table pre {
  margin: 0; }

table div.equation.box {
  margin: 0; }

kbd {
  background-color: #f7f7f7;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), 0 0 0 2px #fff inset;
  color: #333;
  display: inline-block;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 1.4;
  margin: 0 .1em;
  padding: .1em .6em;
  text-shadow: 0 1px 0 #fff; }

:not(pre) > code {
  color: var(--font-color);
  background: transparent;
  font-family: Menlo, monospace;
  font-size: 14px;
  padding: 0 0.2rem; }

hr {
  height: 0;
  border: 0;
  border-top: 1px solid var(--border-color); }

dt {
  font-weight: 600; }

dd {
  margin-bottom: .5rem; }

.full-container {
  max-width: 100%;
  padding: 0 1rem; }

.container, .large-container, .medium-container, .small-container {
  max-width: 932px;
  padding: 0 1rem;
  margin-left: auto;
  margin-right: auto; }

.small-container {
  max-width: 608px; }

.medium-container {
  max-width: 752px; }

.large-container {
  max-width: 932px; }

.interactive-container {
  margin: 0 0 1.5rem 0; }

.content-section {
  padding: 30px 0; }

@media (min-width: 608px) {
  .content-section {
    padding: 60px 0; } }

/* Flex
=============== */
.flex-small,
.flex-large {
  padding-left: 1rem;
  padding-right: 1rem; }

.flex-row {
  margin-left: -1rem;
  margin-right: -1rem; }

.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }

.flex-small,
.flex-large {
  flex-basis: 100%;
  margin-bottom: 1rem; }

/* Small screen breakpoint */
@media (min-width: 608px) {
  .flex-small {
    flex: 1;
    margin-bottom: 0; } }

/* Large screen breakpoint */
@media (min-width: 932px) {
  .flex-large {
    flex: 1;
    margin-bottom: 0; } }

/* Grid
=============== */
.grid {
  display: grid; }

.grid.two,
.grid.three,
.grid.four {
  grid-template-columns: auto; }

.grid.five {
  grid-template-columns: auto auto auto; }

/* Extra small screen breakpoint */
@media (min-width: 608px) {
  .grid.two,
  .grid.three,
  .grid.four {
    grid-template-columns: auto auto; }
  .grid.five {
    grid-template-columns: auto auto auto auto; } }

/* Small screen breakpoint */
@media (min-width: 768px) {
  .grid.three,
  .grid.four {
    grid-template-columns: auto auto auto; } }

@media (min-width: 932px) {
  .grid.four {
    grid-template-columns: auto auto auto auto; }
  .grid.five {
    grid-template-columns: auto auto auto auto auto; } }

/* Helpers
  =============== */
.clearfix::before,
.clearfix::after {
  content: " ";
  display: block; }

.clearfix:after {
  clear: both; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-center {
  text-align: center; }

.text-justify {
  text-align: justify; }

.block {
  display: block; }

.inline-block {
  display: inline-block; }

.inline {
  display: inline; }

.vertical-center {
  display: flex;
  align-items: center;
  justify-content: center; }

.vertical-left-center {
  display: flex;
  align-items: center;
  justify-content: left; }

.responsive-image {
  max-width: 100%;
  height: auto; }

.show {
  display: block !important; }

.hide {
  display: none !important; }

.invisible {
  visibility: hidden; }

.float-left {
  float: left; }

.float-right {
  float: right; }

.no-padding-top {
  padding-top: 0; }

.no-padding-bottom {
  padding-bottom: 0; }

.padding-top {
  padding-top: 2rem; }

.padding-bottom {
  padding-bottom: 2rem; }

.no-margin-top {
  margin-top: 0; }

.margin-top {
  margin-top: 2rem; }

.margin-bottom {
  margin-bottom: 1.5em; }

.alternate-background {
  background: #fafafa;
  color: #404040; }

.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden; }

/* Buttons
  =============== */
.button, a.button, button, [type=submit], [type=reset], [type=button] {
  -webkit-appearance: none;
  display: inline-block;
  border: 1px solid var(--button-border-color);
  border-radius: 4px;
  background: var(--button-background);
  color: var(--button-color);
  font-weight: 600;
  font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1rem;
  text-transform: none;
  padding: .75rem 1.25rem;
  margin: 0 0 .5rem 0;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  line-height: 1; }

.button:hover, button:hover, [type=submit]:hover, [type=reset]:hover, [type=button]:hover {
  border: 1px solid var(--button-border-hover-color);
  background: var(--button-background-hover);
  color: var(--button-color);
  text-decoration: none; }

.button:focus, .button:active, button:focus, button:active, [type=submit]:focus, [type=submit]:active, [type=reset]:focus, [type=reset]:active, [type=button]:focus, [type=button]:active {
  border: 1px solid var(--button-border-color);
  background: var(--primary-dark-10);
  color: var(--button-color);
  text-decoration: none; }

.button::-moz-focus-inner, a.button::-moz-focus-inner, button::-moz-focus-inner, [type=submit]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=button]::-moz-focus-inner {
  border: 0;
  padding: 0; }

.muted-button-small,
a.muted-button-small {
  background: var(--background-darker);
  border: 1px solid var(--accent-color);
  color: var(--font-color);
  padding: 0.5rem 1rem; }
  .muted-button-small:hover, .muted-button-small:focus, .muted-button-small:active,
  a.muted-button-small:hover,
  a.muted-button-small:focus,
  a.muted-button-small:active {
    color: var(--font-color);
    border: 1px solid var(--accent-color-lighter);
    background: var(--background); }

.muted-button,
a.muted-button {
  background: var(--background-darker);
  border: 1px solid var(--accent-color);
  color: var(--font-color); }
  .muted-button:hover, .muted-button:focus, .muted-button:active,
  a.muted-button:hover,
  a.muted-button:focus,
  a.muted-button:active {
    color: var(--font-color);
    border: 1px solid var(--accent-color-lighter);
    background: var(--background); }

.round-button,
a.round-button {
  border-radius: 40px; }

.square-button,
a.square-button {
  border-radius: 0; }

.full-button,
a.full-button {
  display: block;
  width: 100%; }

a[download]:hover {
  text-decoration: none; }

/* Forms
  =============== */
[type=color], [type=date], [type=datetime], [type=datetime-local], [type=email], [type=month], [type=number], [type=password], [type=search], [type=tel], [type=text], [type=url], [type=week], [type=time], select, textarea {
  display: block;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  padding: .75rem;
  outline: none;
  background: transparent;
  margin-bottom: .5rem;
  font-size: 1rem;
  width: 100%;
  max-width: 100%;
  line-height: 1; }

[type=color]:hover, [type=date]:hover, [type=datetime]:hover, [type=datetime-local]:hover, [type=email]:hover, [type=month]:hover, [type=number]:hover, [type=password]:hover, [type=search]:hover, [type=tel]:hover, [type=text]:hover, [type=url]:hover, [type=week]:hover, [type=time]:hover, select:hover, textarea:hover {
  border: 1px solid var(--border-color-darker); }

[type=color]:focus, [type=color]:active, [type=date]:focus, [type=date]:active, [type=datetime]:focus, [type=datetime]:active, [type=datetime-local]:focus, [type=datetime-local]:active, [type=email]:focus, [type=email]:active, [type=month]:focus, [type=month]:active, [type=number]:focus, [type=number]:active, [type=password]:focus, [type=password]:active, [type=search]:focus, [type=search]:active, [type=tel]:focus, [type=tel]:active, [type=text]:focus, [type=text]:active, [type=url]:focus, [type=url]:active, [type=week]:focus, [type=week]:active, [type=time]:focus, [type=time]:active, select:focus, select:active, textarea:focus, textarea:active {
  border: 1px solid var(--primary-color);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1), 0 0 6px yellow; }

textarea {
  overflow: auto;
  height: auto; }

fieldset {
  border: 1px solid var(--border-color);
  border-radius: 4px;
  padding: 1rem;
  margin: 1.5rem 0; }

legend {
  padding: 0 .5rem;
  font-weight: 600; }

select.title-filter {
  background-repeat: no-repeat;
  background-position: right;
  border-radius: 6px;
  font-weight: bold; }

select {
  color: var(--font-color);
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3E%3Cdefs%3E%3Cstyle%3E.a%7Bfill:%23404040;%7D%3C/style%3E%3C/defs%3E%3Cpolygon class='a' points='8 12 12.619 4 3.381 4 8 12'/%3E%3C/svg%3E") right center no-repeat;
  background-origin: content-box;
  line-height: 1; }

select::-ms-expand {
  display: none; }

[type=range] {
  width: 100%; }

label {
  font-weight: 600;
  max-width: 100%;
  display: block;
  margin: 1rem 0 .5rem; }

@media (min-width: 608px) {
  .split-form label {
    text-align: right;
    padding: 0 .5rem;
    margin-bottom: 1rem; } }

input.has-error,
select.has-error,
textarea.has-error {
  border: 1px solid #D33C40;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1), 0 0 6px #f4cecf; }

::-webkit-input-placeholder,
::-moz-placeholder,
:-moz-placeholder,
:-ms-input-placeholder {
  color: var(--accent-color-lighter); }

/* Tables
  =============== */
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  max-width: 100%; }

thead th {
  border-bottom: 2px solid var(--border-color); }

tfoot th {
  border-top: 2px solid var(--border-color); }

td {
  border-bottom: 1px solid var(--border-color); }

th,
td {
  text-align: left;
  padding: .5rem; }

caption {
  padding: 1rem 0;
  caption-side: bottom;
  color: #ababab; }

.compact-table {
  width: 300px;
  margin: 0 auto 1.5rem auto; }

.compact-table th {
  border: 1px solid var(--border-color);
  border-bottom: 2px solid var(--border-color); }

.compact-table td {
  border: 1px solid var(--border-color); }

.compact-table tbody tr:nth-child(odd) {
  background-color: var(--highlight); }

.striped-table tbody tr:nth-child(odd) {
  background-color: var(--highlight); }

.contain-table {
  overflow-x: auto; }

@media (min-width: 608px) {
  .contain-table {
    width: 100%; } }

.nav {
  display: flex;
  flex-direction: row; }

.nav img {
  margin-right: 0.5rem; }

.svg-elements ul {
  padding-left: 0; }

section.documentation main {
  padding: 0 1rem; }

header {
  border-bottom: 1px solid var(--border-color); }

section.aside {
  display: grid;
  grid-template-columns: auto auto;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto; }

section.aside aside {
  display: block;
  margin-right: 1rem; }

@media only screen and (max-width: 932px) {
  section.aside {
    display: block; }
  section.aside aside {
    display: none; } }

@media only screen and (max-width: 752px) {
  section.aside main {
    max-width: 100%; } }

.aside-item {
  color: var(--font-color);
  display: flex;
  flex-direction: row;
  align-items: center; }

.aside-item img {
  vertical-align: middle;
  margin: 10px; }

.aside-link {
  color: var(--font-color);
  display: flex;
  flex-direction: row;
  align-items: center; }

li.group {
  padding: 0.25rem 0.5rem; }

.aside-link.active {
  color: var(--primary-color); }

.aside-link svg {
  vertical-align: middle;
  margin: 10px; }

.aside-link:hover {
  background: var(--highlight);
  text-decoration: none;
  color: var(--font-color); }

aside li.active {
  background: var(--highlight); }

.aside .heading {
  font-weight: 600; }

.aside-vanilla .aside-link {
  height: 2rem;
  padding-left: .5rem; }

aside h1 {
  font-size: 1.2rem;
  padding-left: 0.5rem;
  margin: 1rem 0; }

.aside-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 1rem 0; }

.aside-title h1 {
  margin: 0; }

aside li {
  display: block; }

aside {
  overscroll-behavior-y: contain;
  overscroll-behavior: none;
  float: right;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  width: 220px;
  background: var(--background);
  z-index: 2; }

aside ul {
  list-style: none;
  margin: 0px;
  padding: 0px; }

/**
 * Layout
 */
html, body {
  height: 100%; }

body {
  display: flex;
  flex-direction: column; }

.main {
  flex: 1 0 auto;
  margin: auto; }

.footer {
  flex-shrink: 0;
  margin-top: 100px;
  height: 150px;
  background: var(--background); }

#footer-message {
  padding-top: 16px; }

.test-nav {
  background: var(--background); }

.documentation {
  background: var(--background); }

/* default dark theme */
:root {
  --syntax-background: #303030;
  --syntax-foreground: #cdcdcd;
  --syntax-comment: #A9A9A9;
  --syntax-comment-active: #b1b2b3;
  --syntax-cursor: #ffffff;
  --syntax-activeline-background: rgba(0, 0, 0, 0.2);
  --syntax-activeline-foreground: rgba(0, 0, 0, 0.3);
  --syntax-matchingtag-background: rgba(0, 0, 0, 0.7);
  --syntax-selected-background: rgba(255, 255, 255, 0.1);
  --syntax-matchingbracket-background: rgba(255,255,255,0.2);
  --syntax-string: #94C7B5;
  --syntax-tag: #78AAD6;
  --syntax-variable: #76D4D6;
  --syntax-variable2: #ffffff;
  --syntax-number: #ED9963;
  --syntax-definition: #f7f7f7;
  --syntax-keyword: #ffeead;
  --syntax-operator: #cda869;
  --syntax-meta: rgba(0, 0, 0, 0.7);
  --syntax-meta-color: #f7f7f7;
  --syntax-id: #D6ACD6;
  --syntax-attribute: #FFD479;
  --syntax-property: #d4d4d4;
  --syntax-qualifier: #FFD479;
  --syntax-error: #F78D8C;
  --syntax-very-light-gray: #cdcdcd;
  --syntax-light-gray: #868a8c;
  --syntax-gray: #3a3a3a;
  --syntax-dark-gray: #3a3a3a;
  --syntax-very-dark-gray: #3a3a3a;
  --syntax-cyan: #fff;
  --syntax-blue: #6dc5dc;
  --syntax-purple: #ffeead;
  --syntax-green: #99ccaa;
  --syntax-red: #78AAD6;
  --syntax-orange: #9dbedd;
  --syntax-light-orange: light-orange; }

/* toggle light theme */
:root.light-theme {
  --syntax-very-light-gray: #cdcdcd;
  --syntax-light-gray: #868a8c;
  --syntax-gray: #3a3a3a;
  --syntax-dark-gray: #3a3a3a;
  --syntax-very-dark-gray: #3a3a3a;
  --syntax-cyan: #fff;
  --syntax-light-blue: #6dc5dc;
  --syntax-blue: #4992d8;
  --syntax-blue2: #1365b1;
  --syntax-purple: #9a52ad;
  --syntax-red: #F78D8C;
  --syntax-red2: #a73f3d;
  --syntax-light-green: #99ccaa;
  --syntax-green: #2ca57d;
  --syntax-green2: #1b815f;
  --syntax-yellow: #ffeead;
  --syntax-orange0: #cda869;
  --syntax-orange: #ED9963;
  --syntax-orange2: #815329;
  --syntax-orange3: #8d2d07;
  --syntax-background: #fafafa;
  --syntax-foreground: #404040;
  --syntax-comment: --syntax-light-gray;
  --syntax-comment-active: #b1b2b3;
  --syntax-cursor: #404040;
  --syntax-activeline-background: rgba(0, 0, 0, 0.2);
  --syntax-activeline-foreground: rgba(0, 0, 0, 0.3);
  --syntax-matchingtag-background: rgba(0, 0, 0, 0.7);
  --syntax-selected-background: rgba(255, 255, 255, 0.1);
  --syntax-matchingbracket-background: rgba(255,255,255,0.2);
  --syntax-number: #4992d8;
  --syntax-string: #1c23a3;
  --syntax-keywordConstant: #4992d8;
  --syntax-operator: #815329;
  --syntax-tag: #93348b;
  --syntax-variable: #76D4D6;
  --syntax-variable2: #ffffff;
  --syntax-definition: #f7f7f7;
  --syntax-keyword: $purple;
  --syntax-keywordType: #F78D8C;
  --syntax-meta: rgba(0, 0, 0, 0.7);
  --syntax-meta-color: #f7f7f7;
  --syntax-id: #D6ACD6;
  --syntax-attribute: #a15727;
  --syntax-property: #d4d4d4;
  --syntax-qualifier: #FFD479;
  --syntax-error: #F78D8C; }

pre.block {
  background: var(--syntax-background);
  font-size: 15px;
  border: 1px solid var(--border-color); }

.highlight > pre {
  font-size: 15px;
  border: 1px solid var(--border-color); }

/* Background */
.chroma {
  color: var(--syntax-foreground);
  background-color: var(--syntax-background); }

/* Other */
/* Error */
.chroma .err {
  color: var(--syntax-error);
  background-color: var(--syntax-background); }

/* LineTableTD */
.chroma .lntd {
  vertical-align: top;
  padding: 0;
  margin: 0;
  border: 0; }

/* LineTable */
.chroma .lntable {
  border-spacing: 0;
  padding: 0;
  margin: 0;
  border: 0;
  width: auto;
  overflow: auto;
  display: block; }

/* LineHighlight */
.chroma .hl {
  display: block;
  width: 100%;
  background-color: #ffffcc; }

/* LineNumbersTable */
.chroma .lnt {
  margin-right: 0.4em;
  padding: 0 0.4em 0 0.4em;
  color: #7f7f7f; }

/* LineNumbers */
.chroma .ln {
  margin-right: 0.4em;
  padding: 0 0.4em 0 0.4em;
  color: #7f7f7f; }

/* Keyword */
.chroma .k {
  color: var(--syntax-keyword); }

/* KeywordConstant */
.chroma .kc {
  color: var(--syntax-keyword); }

/* KeywordDeclaration */
.chroma .kd {
  color: var(--syntax-keyword); }

/* KeywordNamespace */
.chroma .kn {
  color: #f92672; }

/* KeywordPseudo */
.chroma .kp {
  color: var(--syntax-keyword); }

/* KeywordReserved */
.chroma .kr {
  color: var(--syntax-keyword); }

/* KeywordType */
.chroma .kt {
  color: var(--syntax-keyword); }

/* Name */
/* NameAttribute */
.chroma .na {
  color: var(--syntax-attribute); }

/* NameBuiltin */
/* NameBuiltinPseudo */
/* NameClass */
.chroma .nc {
  color: var(--syntax-attribute); }

/* NameConstant */
.chroma .no {
  color: #93348b; }

/* NameDecorator */
.chroma .nd {
  color: var(--syntax-attribute); }

/* NameEntity */
/* NameException */
.chroma .ne {
  color: var(--syntax-attribute); }

/* NameFunction */
.chroma .nf {
  color: var(--syntax-attribute); }

/* NameFunctionMagic */
/* NameLabel */
/* NameNamespace */
/* NameOther */
.chroma .nx {
  color: var(--syntax-foreground); }

/* NameProperty */
/* NameTag */
.chroma .nt {
  color: var(--syntax-tag); }

/* NameVariable */
.chroma .nv {
  color: var(--syntax-variable); }

/* NameVariableClass */
/* NameVariableGlobal */
/* NameVariableInstance */
/* NameVariableMagic */
/* Literal */
.chroma .l {
  color: var(--syntax-number); }

/* LiteralDate */
.chroma .ld {
  color: var(--syntax-string); }

/* LiteralString */
.chroma .s {
  color: var(--syntax-string); }

/* LiteralStringAffix */
.chroma .sa {
  color: var(--syntax-string); }

/* LiteralStringBacktick */
.chroma .sb {
  color: var(--syntax-string); }

/* LiteralStringChar */
.chroma .sc {
  color: var(--syntax-string); }

/* LiteralStringDelimiter */
.chroma .dl {
  color: var(--syntax-string); }

/* LiteralStringDoc */
.chroma .sd {
  color: var(--syntax-string); }

/* LiteralStringDouble */
.chroma .s2 {
  color: var(--syntax-string); }

/* LiteralStringEscape */
.chroma .se {
  color: var(--syntax-number); }

/* LiteralStringHeredoc */
.chroma .sh {
  color: var(--syntax-string); }

/* LiteralStringInterpol */
.chroma .si {
  color: var(--syntax-string); }

/* LiteralStringOther */
.chroma .sx {
  color: var(--syntax-string); }

/* LiteralStringRegex */
.chroma .sr {
  color: var(--syntax-string); }

/* LiteralStringSingle */
.chroma .s1 {
  color: var(--syntax-string); }

/* LiteralStringSymbol */
.chroma .ss {
  color: var(--syntax-string); }

/* LiteralNumber */
.chroma .m {
  color: var(--syntax-number); }

/* LiteralNumberBin */
.chroma .mb {
  color: var(--syntax-number); }

/* LiteralNumberFloat */
.chroma .mf {
  color: var(--syntax-number); }

/* LiteralNumberHex */
.chroma .mh {
  color: var(--syntax-number); }

/* LiteralNumberInteger */
.chroma .mi {
  color: var(--syntax-number); }

/* LiteralNumberIntegerLong */
.chroma .il {
  color: var(--syntax-number); }

/* LiteralNumberOct */
.chroma .mo {
  color: var(--syntax-number); }

/* Operator */
.chroma .o {
  color: var(--syntax-operator); }

/* OperatorWord */
.chroma .ow {
  color: var(--syntax-operator); }

/* Punctuation */
/* Comment */
.chroma .c {
  color: var(--syntax-comment); }

/* CommentHashbang */
.chroma .ch {
  color: var(--syntax-comment); }

/* CommentMultiline */
.chroma .cm {
  color: var(--syntax-comment); }

/* CommentSingle */
.chroma .c1 {
  color: var(--syntax-comment); }

/* CommentSpecial */
.chroma .cs {
  color: var(--syntax-comment); }

/* CommentPreproc */
.chroma .cp {
  color: var(--syntax-comment); }

/* CommentPreprocFile */
.chroma .cpf {
  color: var(--syntax-comment); }

/* Generic */
/* GenericDeleted */
.chroma .gd {
  color: var(--syntax-error); }

/* GenericEmph */
.chroma .ge {
  font-style: italic; }

/* GenericError */
/* GenericHeading */
/* GenericInserted */
/* GenericOutput */
/* GenericPrompt */
/* GenericStrong */
.chroma .gs {
  font-weight: bold; }

/* GenericSubheading */
.chroma .gu {
  color: var(--syntax-comment); }

/* GenericTraceback */
/* GenericUnderline */
/* TextWhitespace */
.nav {
  display: flex;
  flex-direction: row; }

.nav-theme {
  margin: auto 0.5rem auto auto;
  height: 36px;
  user-select: none;
  /* standard syntax */
  -webkit-user-select: none;
  /* webkit (safari, chrome) browsers */
  -moz-user-select: none;
  /* mozilla browsers */
  -khtml-user-select: none;
  /* webkit (konqueror) browsers */
  -ms-user-select: none;
  /* IE10+ */ }

.theme-controls {
  position: relative;
  margin-top: -3rem;
  padding-top: 3rem; }

.nav-theme {
  background: #404040;
  border: 1.25px solid transparent;
  border-radius: 16px; }

.nav-theme:hover {
  border: 1.25px solid #888888; }

.icon-button {
  border-radius: 50%;
  background-color: #f0f0f0; }

.light-theme .nav-theme {
  background: #f8f8f8;
  border: 1.25px solid #dddddd;
  border-radius: 16px; }

.light-theme .nav-theme:hover {
  border: 1.25px solid #a0a0a0; }

.light-theme .icon-button {
  background-color: #404040; }

section.copyright {
  margin-bottom: 50rem; }

img.center {
  display: block;
  margin: auto;
  max-width: 100%; }

.display-box label {
  margin: 0; }

pre.one-line {
  background: var(--background-lighter);
  margin: 0;
  padding: 0.5rem 0.75rem; }
