
// TODO: lighter and darker should switch directions with the theme. But maybe this logic is handled in the .light-theme logic just fine

/* default dark theme */
:root {
  --background: #202020;
  --background-darker: #181818;
  --background-lighter: #303030;

  --font-color: #e0e0e0;
  --medium-color: #a0a0a0;
  --contrast-color: #bebebe;

  --highlight: #303030;
  --border-color: #666666;
  --border-color-darker: #4d4d4d;

  --grid-primary: #666666;
  --grid-secondary: #404040;
  --grid-tertiary: #262626;

  // --primary-color: #ffedba;
  --primary-color: hsl(44, 97%, 84%);

  --accent-color: hsl(0, 0%, 20%);
  --accent-color-lighter: hsl(0, 0%, 30%);
  --accent-color-mid: hsl(0, 0%, 50%);

  --button-background: #404040;
  --button-background-hover: hsl(0, 0%, 35%);
  --button-color: #e0e0e0;
  --button-highlight-color: #666666; 
  --button-border-color: #666666;
  --button-border-hover-color: #777777;

  --red: #F2777A;
  --green: #92D192;
  --blue: #6AB0F3;
}

/* toggle light theme */
:root.light-theme {

  --background: #ffffff;
  --background-darker: hsl(0, 0%, 95%); // darker
  --background-lighter: hsl(0, 0%, 95%); // darker

  --foreground: #d0d0d0; // better variable name?


  --font-color: #404040;
  --medium-color: #808080;
  --contrast-color: #404040;

  --highlight: #f0f0f0;
  --border-color: hsl(0, 0%, 80%);
  --border-color-darker: hsl(0, 0%, 90%); // actually means lighter

  --grid-primary: #a0a0a0;
  --grid-secondary: #d0d0d0;
  --grid-tertiary: #f0f0f0;

  --primary-color: #485bfc;
  --primary-dark-10: $primary-light-10;
  --primary-dark-15: $primary-light-15;

  --main: #404040;
  
  --button-background: #f8f8f8;
  --button-background-hover: hsl(0, 0%, 90%);
  --button-color: #404040;
  --button-highlight-color: #404040; 
  --button-border-color: #a0a0a0;
  --button-border-hover-color: #777777;


  --color-primary: #485bfc;
  --color-secondary: #4bb77e;
  --tertiary: #c74440;
 
  --red: #c74440;
  --green: #4bb77e;
  --blue: #485bfc;
 
}

/* layout variables */

$header-height: 4rem;
$aside-width: 240px;
$aside-container: 1024px; 

/* Containers */

$x-small: 240px;
$small: 608px;
$medium: 720px + 32px; /* 720 max width + margin */
$large: 932px;

/* Breakpoints */

$mobile: $small;
$tablet: $medium + 16px;
$desktop: $large;

/* Colors */

$background: var(--background);
$primary-color: var(--primary-color);
$secondary-color: #29de7d;
$alternate-background: #fafafa;
$alternate-color: #404040;
$link-color: var(--primary-color);
$link-hover-color: var(--primary-dark-15);
$highlight: #f0f0f0;
$error: #D33C40;
$bq-border: 16px solid #f0f0f0;

/* Typography */

// Body font
$font-size: 1rem;
$body-font-size: 1rem;
$font-style: normal;
$font-variant: normal;
$font-weight: normal;
$font-color: var(--font-color);
$font-color-light: #606060;
$font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica, Arial, sans-serif;
// $font-family: 'Helvetica Neue','Segoe UI','Helvetica','Arial', sans-serif;
$line-height: 1.6;

// Headings
$heading-font-color: var(--font-color);
$heading-font-weight: 600;
$heading-font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica, Arial, sans-serif;
$heading-line-height: 1.2;

// Mobile heading font size
$h1-mobile: 1.75rem;
$h2-mobile: 1.5rem;
$h3-mobile: 1.25rem;
$h4-mobile: 1.1rem;
$h5-mobile: 1rem;

// Heading font size
$h1: 2.0rem;
$h2: 1.75rem;
$h3: 1.5rem;
$h4: 1.25rem;
$h5: 1rem;

/* Padding */

$padding: 1rem;
$margins: 1.5rem;
$content-padding: 60px 0;
$content-padding-mobile: 30px 0;

/* Borders */

$border-width: 1px;
$border-style: solid;
$border-color: var(--border-color);
$border-radius: 4px;
$borders: $border-width $border-style $border-color;

/* Buttons */

$button-background: var(--background-lighter);
$button-background-hover: var(--primary-dark-10);
$button-color: var(--button-color);
$button-font-weight: 600;
$button-font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica, Arial, sans-serif;
$button-font-size: 1rem;
$button-border-width: 1px;
$button-border-style: solid;
$button-border-color: var(--primary-color);
$button-border-radius: $border-radius;
$button-text-transform: none;

// Muted Buttons
$muted-border: 1px solid var(--accent-color);
$muted-border-hover: 1px solid var(--accent-color-lighter);
$muted-background: var(--background-darker);
$muted-background-hover: var(--background);
$muted-color: var(--font-color);
$muted-color-hover: var(--font-color);

// Round Buttons
$round-buttons: 40px;

/* Forms */

$forms: ('[type=color], [type=date], [type=datetime], [type=datetime-local], [type=email], [type=month], [type=number], [type=password], [type=search], [type=tel], [type=text], [type=url], [type=week], [type=time], select, textarea');
$buttons: ('.button, a.button, button, [type=submit], [type=reset], [type=button]');
$input-background: transparent;
$placeholder: var(--accent-color-lighter);
$form-border: 1px solid $border-color;
$form-border-hover: 1px solid var(--border-color-darker);
$form-border-focus: 1px solid $link-color;

/* Tables */

$stripes: var(--highlight);
$caption: #ababab;

/* Code */

$code-color: $font-color;
$code-size: 14px;
$code-family: Menlo, monospace;
$code-background: transparent;
$code-borders: $borders;
