/*! Primitive CSS Framework Author: Tania Rascia */

// Configuration
@import "base/variables";
@import "base/mixins";

// Reset
@import "base/normalize";
@import "base/reset";

// Components
@import "components/scaffolding";
@import "components/flex";
@import "components/grid";
@import "components/helpers";
@import "components/buttons";
@import "components/forms";
@import "components/tables";
@import "components/navigation";
@import "components/layout";
@import "components/syntax";


.nav {
  display: flex;
  flex-direction: row;
}

.nav-theme {
  // margin-left: auto;
  margin: auto 0.5rem auto auto;
  height: 36px;
  user-select: none; /* standard syntax */
  -webkit-user-select: none; /* webkit (safari, chrome) browsers */
  -moz-user-select: none; /* mozilla browsers */
  -khtml-user-select: none; /* webkit (konqueror) browsers */
  -ms-user-select: none; /* IE10+ */
}

.theme-controls {
  position: relative;
  margin-top: -3rem;
  padding-top: 3rem;
}

.nav-theme {
  background: #404040;
  border: 1.25px solid transparent;
  border-radius: 16px;
}

.nav-theme:hover {
  border: 1.25px solid #888888;
}

.icon-button {
  border-radius: 50%;
  background-color: #f0f0f0;
}

.light-theme .nav-theme {
  background: #f8f8f8;
  border: 1.25px solid #dddddd;
  border-radius: 16px;
}

.light-theme .nav-theme:hover {
  border: 1.25px solid #a0a0a0;
}

.light-theme .icon-button {
  background-color: #404040;
}


section.copyright {
  margin-bottom: 50rem;
}

img.center {
  display: block;
  margin: auto;
  max-width: 100%;
}

.display-box label {
  margin:0;
}

pre.one-line {
  background: var(--background-lighter);
  margin: 0;
  padding: 0.5rem 0.75rem;
}