/* Grid
=============== */

.grid {
  display: grid;
}

.grid.two,
.grid.three,
.grid.four {
  grid-template-columns: auto;
}

.grid.five {
  grid-template-columns: auto auto auto ;
}

/* Extra small screen breakpoint */

@include small-breakpoint {

  .grid.two,
  .grid.three,
  .grid.four {
    grid-template-columns: auto auto;
  }

  .grid.five {
    grid-template-columns: auto auto auto auto ;
  }
}

/* Small screen breakpoint */

@include medium-breakpoint {
  .grid.three,
  .grid.four {
    grid-template-columns: auto auto auto;
  }
}

@include large-breakpoint {
  .grid.four {
    grid-template-columns: auto auto auto auto;
  }
  .grid.five {
    grid-template-columns: auto auto auto auto auto;
  }
}
